.body {
    /* background: rgb(255, 255, 255); */
    /* background: linear-gradient(121deg, rgba(237,146,125,1) 0%, rgba(248,212,200,1) 100%); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    
    font-family: 'Nunito', sans-serif;
}
.description{
    width: 500px;
    height: 400px;
    
    border-radius: .5rem;
    display: flex;
    
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255);
    box-shadow: -5px 5px 4px rgba(144, 173, 197, 0.25);
    margin: auto;

}
.button{
    padding: auto;
    margin: 2em;
}
.text{
    font-family: 'Nunito';
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    padding: 1em;
    padding-left: 0%;
    text-align: justify;
    display: flex;
    flex-direction: row;
    
}
.text div{
    min-width: fit-content;
    
}
.textcont{
    display: block;
      
}
.textcont h1{
    font-size: 20px;
    font-weight: 700;
}
.textcont p{
    font-size: 18;
}