.fileselect {
    background: #5fd2ff;
    outline: 0;
    padding: 2rem;
    color: white;
    border-radius: .8rem;
    cursor: pointer;
    width: 300px;
}

.fileselect h1 {
   margin-top: 1em;
    color: white;
    text-align: center;
}

.fileselect p {
    font-size: 1.2rem;
    color: white;
    text-align: center;
}

.smallerfont {
    font-size: 0.8rem !important;
  
}
.fileUpload{
    font-size: 30px;
    font-weight: 800;
}